<h1>What do you want to buy?</h1>
<form method="post" action="/checkout">
<p><label for="item">Item:</label>
  <input type="text" name="item" id="item"></p>
<button type="submit" value="submit">Submit</button>
</form>
